<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.css">
    <link rel="icon" type="image/png" href="../public/img/favicon.png">
    <script src="../public/js/jquery.js"></script>
    <!-- <link rel="stylesheet" href="/about_advaita.css" /> -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans|Roboto' rel='stylesheet' type='text/css' />
    <title>About | Advaita</title>
    <style>
        body{
            width: 100%;
            height: 100%;
            font-family: Open Sans;
            font-weight: thin;
        }

        .centerText{
            text-align: center;
        }
    </style>
</head>
<body>
    <script src="../public/js/particleJs/particles.js"></script> 
    <script src="../public/js/particleJs/js/particleapp.js"></script>
<header class="navbar navbar-default navbar-static-top">
                <div class="container centerText">
                    <h2 class="navbar-btn">
                    <span class="glyphicon glyphicon-flash"></span>ABOUT<span class="glyphicon glyphicon-flash"></span>
                    </h2>
                </div>
            </header>
    <div id="main" class="container jumbotron">
        <article>
            <p>A phenomenon was born exactly 3 years ago at <b>IIIT Bhubaneswar</b>. A phenomenon based on the pillars of creativity, innovation and ambition. An ambition of reaching new horizons of imagination. Over the years, the clashing of ideas, the battle of intelligence and the resonation of creativity emancipated into a saga where the word ‘limit’ is long forgotten in the annals of history. And once again with the potent promises comes ADVAITA with hopes to reach unseen heights.</p>
        <p>Once again, the bands face the wrath of music in rockathon, La mode redefines beauty and liberates it from a physical stature and Botsumo ignites the war machines inflicted with intelecto. For the first time, computer programmers, interface  designers and project managers will conglomerate in Hackathon pooling their diverse set of skills and talents  to solve a challenge in the light of social issue.</p>
        <p>What more? The nights will find bodies grooving to the rhythms of bass beats arising from Sunburn and minds going to trance listening the voice of <b>Toshi Sabri</b>. Come, get drenched in this amalgam of ecstasy and wisdom.</p><p>
            <i class="pull-left">Flow with us in this saga of ADVAITA.</i>
        </p>
        </article>
    </div>
</body>
</html>
