<!DOCTYPE html>
<html lang="en" ng-app>
    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/png" href="../public/img/favicon.png">
        <title>Events | Advaita</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../public/css/style.css">
        <link href='http://fonts.googleapis.com/css?family=Sirin+Stencil|' rel='stylesheet' type='text/css'>
            <!-- <link rel="stylesheet" href="../css/main.css"> -->
            <link rel="stylesheet" href="../bootstrap/css/bootstrap.css">
            <!--<script type="text/javascript" src="../js/angular.js"></script> -->
            <script type="text/javascript" src="../public/js/jquery.js"></script>
            <script type="text/javascript" src="../public/js/sly.js"></script>
            <script type="text/javascript" src="../public/js/horizontal.js"></script>
            <script type="text/javascript" src="../bootstrap/js/bootstrap.js"></script>
            <style>
            body{
            background: url(../public/img/download.png) !important;
            /*height: 100%;*/
            width: 100%;
            overflow: hidden;
            }
            .centerText{
            text-align: center;;
            }
            </style>
            
        </head>
        <body>
            <script src="../public/js/particleJs/particles.js"></script>
            <script src="../public/js/particleJs/js/particleapp.js"></script>
            <header class="navbar navbar-default navbar-static-top">
                <div class="container centerText">
                    <h2 class="navbar-btn">
                    <span class="glyphicon glyphicon-flash"></span>EVENTS<span class="glyphicon glyphicon-flash"></span>
                    </h2>
                </div>
            </header>
            <div class="" style="margin-bottom:18%">
                <div class="">
                    <h1 class="logo" style="color: #fff; text-align:center; "></h1>
                </div>
            </div>
            
            
            <div class="frame effects" id="effects" style="overflow: hidden; width:70%; margin-left:15%;">
                <ul class="clearfix" style="transform: translateZ(0px) translateX(-1873px); width: 500%;">
                    <li id="ev1" class="eventList"><h3 class="text">Google Buster</h3></li>
                    <li class="eventList" id="ev2"><h3 class="text">Switch Coding</h3></li>
                    <li class="eventList" id="ev3"><h3 class="text">Blue Print</h3></li>
                    <li class="eventList" id="ev4" style="font-size: 0.9em;"><h3 class="text">Photoshop Wars</h3></li>
                    <li class="eventList" id="ev5"><h3 class="text">Hackathon</h3></li>
                    <li class="eventList" id="ev6"><h3 class="text">SEO</h3></li>
                    <li class="eventList" id="ev7"><h3 class="text">Botsumo</h3></li>
                    <li class="eventList" id="ev8"><h3 class="text">Pathseeker</h3></li>
                    <li class="eventList" id="ev9"><h3 class="text">Dirt Rush GT</h3></li>
                    <li class="eventList" id="ev10"><h3 class="text">Wishing Well</h3></li>
                    <li class="eventList" id="ev11"><h3 class="text">Simulab</h3></li>
                    <li class="eventList" id="ev12"><h3 class="text">Acoustica</h3></li>
                    <li class="eventList" id="ev13"><h3 class="text">Rockathon</h3></li>
                    <li class="eventList" id="ev14"><h3 class="text">Footloose</h3></li>
                    <li class="eventList" id="ev15"><h3 class="text">LaMode'</h3></li>
                    <li class="eventList" id="ev16"><h3 class="text">Cipher</h3></li>
                    <li class="eventList" id="ev17"><h3 class="text">Tech Talks</h3></li>
                    <li class="eventList" id="ev18"><h3 class="text">Sunburn</h3></li>
                    <li class="eventList" id="ev19"><h3 class="text">TOSHI LIVE</h3></li>
                    <li class="eventList" id="ev20"><h3 class="text">Archery</h3></li>
                    <li class="eventList" id="ev21"><h3 class="text">Super-6</h3></li>
                    <li class="eventList" id="ev22"><h3 class="text">Futsal</h3></li>
                    <li class="eventList" id="ev23"><h3 class="text">Gamex</h3></li>
                    <li class="eventList" id="ev24"><h3 class="text">Rubix</h3></li>
                    <li class="eventList" id="ev25"><h3 class="text">Coupling</h3></li>
                    <li class="eventList" id="ev26"><h3 class="text">Bingo</h3></li>
                    <li class="eventList" id="ev27"><h3 class="text">Tug of War</h3></li>
                    <li class="eventList" id="ev28"><h3 class="text">Back To School</h3></li>
                </ul>
            </div>
            <div class="scrollbar">
                <div class="handle" style="transform: translateZ(0px) translateX(908px); width: 100%;">
                    <div class="mousearea"></div>
                </div>
            </div>
            <!-- Modal group -->
            <div id="def" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="position:absolute;overflow:hidden;">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content fullScale">
                        <div class="modal-header">
                        </div>
                        <div class="alert ">
                            <h2 style="margin:20% 0 20% 0"><b>Coming Soon</b></h2>
                        </div>`
                    </div>
                </div>
            </div>
            <div id="bot" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="position:absolute;overflow:hidden;">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content fullScale">
                        <div class="modal-header ">
                        </div>
                        <div class="modal-body "style="margin:5% 0 20% 0">
                            <div ><a href="http://goo.gl/mWiFHo" target="_blank"  class="btn btn-lg btn-primary">Problem Statement</a></div>
                            <br><br>
                            <div><a href="http://goo.gl/forms/3jG5gnX40t" target="_blank" class="btn btn-lg btn-warning">Registration Form</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="well" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="position:absolute;overflow:hidden;">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content fullScale">
                        <div class="modal-header">
                        </div>
                        <div class="modal-body "style="margin:5% 0 20% 0">
                            <div ><a href="http://goo.gl/zKrMsk" target="_blank"  class="btn btn-lg btn-primary">Problem Statement</a></div>
                            <br><br>
                            <div><a href="http://goo.gl/forms/uvntVdrstw" target="_blank" class="btn btn-lg btn-warning">Registration Form</a></div>
                        </div>                    </div>
                    </div>
                </div>
                <div id="bts" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="position:absolute;overflow:hidden;">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content fullScale">
                            <div class="modal-header">
                            </div>
                            <div class="modal-body">
                                <div class="page-header">
                                    <h3>Wizkids</h3>
                                </div>
                                <button class="btn btn-lg btn-primary" disabled="true">Will be Updated</button>
                                <div class="page-header">
                                    <h3>Picasso</h3>
                                </div>
                                <a href="http://goo.gl/bLMrJe" target="_blank" class="btn btn-lg btn-primary">Regitration Form</a>
                                <div class="page-header">
                                    <h3>Acropolis</h3>
                                </div>
                                <a href="http://goo.gl/lCXBYQ" target="_blank" class="btn btn-lg btn-primary">Regitration Form</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
            <div class="navbar navbar-default navbar-fixed-bottom">
                <div class="container">
                    <p class="navbar-text pull-left col-lg-3 col-xs-12 ">&#169; 2015
                    <a href="http://www.iiit-bh.ac.in" target="_blank" >IIIT Bhubaneswar</a>
                    </p>
                    <a href="https://www.dropbox.com/s/1cy4qqbmcd6691f/sponsor_reg_form.pdf?dl=1" target="_blank" class="navbar-btn btn btn-success col-lg-offset-1 col-lg-3 col-xs-12"><b>Sponsor Registration Form</b></a>
                    <div href="#" class="navbar-btn btn-group pull-right col-lg-3 col-xs-12">
                        <a href="https://www.facebook.com/adva1ta" target="_blank" class="btn btn-primary">Facebook</a>
                        <a href="https://twitter.com/Advaita_iiit" target="_blank" class="btn btn-info">Twitter</a>
                        <a href="https://www.youtube.com/c/AdvaitaIiit" target="_blank" class="btn btn-danger">Youtube</a>
                    </div>
                </div>
            </div>
        </body>
    </html>
