<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="../public/img/favicon.png">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' /> 
    <title>Hospitality | Advaita</title>

 <style>
   .centerText{
   text-align: center;
   }
    body{
        font-family: Open Sans;
        font-weight: thin;
    }
   </style>
     
</head>
<body>
       <script src="../public/js/particleJs/particles.js"></script> 
    <script src="../public/js/particleJs/js/particleapp.js"></script>

    <header class="navbar navbar-default navbar-static-top">
                <div class="container centerText">
                    <h2 class="navbar-btn">
                    <span class="glyphicon glyphicon-flash"></span>HOSPITALITY<span class="glyphicon glyphicon-flash"></span>
                    </h2>
                </div>
            </header>
<div class="container jumbotron"><p>On behalf of the entire Team Advaita, we would like to offer a warm welcome to you and trust that you treasure each and every minute of your stay at the beautiful campus of IIIT BHUBANESWAR.</p>
        
<h2 class="page-header container">Upon reaching IIIT Bhubaneswar-</h2>
        <ul class="">
            <li><p>The hospitality team would be based at the main gate as well every bit deep down the campus</p>.</li>
            <li><p>All the participants should report to the accommodation hospi bureau.</p></li>
            <li><p>The Institute main gate will be open at all times. You may enter and depart from the campus at all times. But please make sure to carry your college ID cards for the purpose of security check at the main gate.</p></li>
            <li> <p>Alcohol, drugs and explosives of whatever form are strictly forbidden within the campus.</p></li>
            <li><p>Participants should contact the hospi bureau for queries regarding any event, or any doubts about Advaita in general.</p></li>
            <li><p>Registration for few events also takes place at the Hospitality bureau.</p></li>
            <li><p>The Hospitality Desk will be functional from Day 1 (22nd Jan) to Day 4(25th Jan)) between 8:00 am to 5:00 pm.</p></li>
            <li><p>Do visit the Hospitality Desk. We will be Happy to Help.</p><br /></li>
        </ul>
        <hr />
        <h2 class="page-header container">Accommodation-</h2>
        <ul>
            <li><p>The participants of the Advaita'15 will be accommodated at the student's hostel in a common room.</p></li>
            <li><p>Accommodation is provided by registering on our website, those who registered online will be supplied all the provender. Those who did not register on the website can be accommodated by registering at the hospi bureau by means not assuring all the provisions cited.</p></li>
            <li><p>Students who want to avail the accommodation will have to pay Rs 250/- per day per person.</p></li>
            <li><p>You will be furnished with a bed, a pillow, a bed sheet, and basic amenities. However, you are encouraged to carry your own blankets since it might get a little cold at night.</p></li>
            <li><p>Requests for single rooms or any other complaints in this regard will not be entertained.</p></li>
            <li><p>We are not responsible for your  belongings ,check your belongings before you leave.</p></li>
            <li><p>We take hospitality to be of extreme importance and we make certain that all our participants and guests are taken care of with extreme warmth.</p></li>
        </ul>
        <hr /> 
        <h2 class="page-header container">Food and beverages-</h2>
        <ul>
            <li><p>In that respect are many kinds of food stalls and coffee stalls providing a unique taste experience as per reminding the taste buds from north and south</p></li>
            <li><p>There are a variety of canteens inside the campus which provide food at reasonable rates. College is endorsed with a banking facility with 24 hrs service ATM of ANDHRA BANK and also has a shopping complex.</p></li>
        </ul>
    
    <footer id="foot" class="container">
        <p>For any queries regarding Accommodation you can contact on the numbers given below:<br /> 
<div class="well col-lg-6"><p>PRATEEK NANDA</p><p>+91-8018614768</p></div>
<div class="well col-lg-6"><p>SURAJ RAJ SENAPATI</p><p>+91-8457955261</p></div>
</p>
    </footer>
    </div>

    <div id="hospi">HOSPITALITY</div>
    
</body>    
</html>