<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="../public/img/favicon.png">
	<meta property="og:title" content="Advaita 2015 | The Annual Techno-Cult Fest of IIIT Bhubaneswar" />
	<meta property="og:type" content="Website" />
	<meta property="og:url" content="http://advaita.iiit-bh.ac.in" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="advaita, iiitbh, advaita iiit, advaita13, advaita14,advaita15, iiit bhubaneswar, iiit fest, iiitbh fest, advaita2013, advaita2014, advaita2015, advaita2k13, advaita2k14, advaita2k15, festival, bhubaneswar, international institute of information technology, IIIT-Bh, fest bhubaneswar, techfest, techfest bhubaneswar"/>
	<meta name="description" content="Advaita is the annual cultural and technical festival of International Institute of Information Technology, Bhubaneswar. It will be held for four days from 23th January to 25th January 2015."/>
	<meta property="og:description" content="Advaita is the annual cultural and technical festival of International Institute of Information Technology, Bhubaneswar. It will be held for three days from 23th January to 25th January 2015."/>
	<meta name="url" content="http://advaita.iiit-bh.ac.in/">
	<link rel="author" href="../humans.txt" />
    <link href='http://fonts.googleapis.com/css?family=Signika' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="../public/js/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="../public/css/main2.css">
	<script type="text/javascript" src="../public/js/main_rotate.js"></script>
	<script type="text/javascript" language="javascript">
        $(document).ready(function () {
             config={
                maxS:0.07,
                minS:0.003,
                radious:($(document).height() / 6),
                iClass:"iteam",
            };
            rotateMenu(config);
        });
        $(document).ready(function () {
             config={
                maxS:0.07,
                minS:0.003,
                radious:($(document).height() / 6),
                iClass:"iteam2",
            };
            rotateMenu2(config);
        });
        $(document).ready(function () {
             config={
                maxS:0.07,
                minS:0.003,
                radious:($(document).height() / 6),
                iClass:"iteam3",
            };
            rotateMenu3(config);
        });
        
        
    </script>
    
    <link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.css">
    <title>Advaita 2015 | The Annual Techno-Cult Fest of IIIT Bhubaneswar</title>
</head>
<body>
    <script src="../public/js/particleJs/particles.js"></script>
	<script src="../public/js/particleJs/js/particleapp_2.js"></script>
    
    <div class="container">    
    <a class="iteam" href="./team"><span class="caption">TEAM</span><img src="../public/img/team_mask.png" width=60%/></a>
    <a class="iteam3" href="./events"><span class="caption">EVENTS</span><img src="../public/img/event_mask.png" width=60%/></a>    
    <a class="iteam2" href="./hospitality"><span class="caption">HOSPITALITY</span><img src="../public/img/hospitality_mask.png" width=60%/></a>
    <a class="iteam2" href="./about"><span class="caption">ABOUT</span><img src="../public/img/about1_mask.png" width=60%/></a>
    <a class="iteam3" href="./sponsor"><span class="caption">SPONSORS</span><img src="../public/img/sponsor_mask.png" width=60%/></a>
    <a class="iteam" href="./campusambassador"><span class="caption">CAMPUS<br /> AMBASSADOR</span><img src="../public/img/amba1_mask.png" width=60%/></a>
</div>
    
<div class="brand">
    <div class="logo"><img src="../public/img/advaita-15-700px-2.png" /></div>
   </div>
                  <!-- Footer -->
            <div class="navbar navbar-default navbar-fixed-bottom">
                <div class="container">
                    <p class="navbar-text pull-left col-lg-3 col-xs-12 ">&#169; 2015
                    <a href="http://www.iiit-bh.ac.in" target="_blank" >IIIT Bhubaneswar</a>
                    </p>
                    <a href="https://www.dropbox.com/s/1cy4qqbmcd6691f/sponsor_reg_form.pdf?dl=1" target="_blank" class="navbar-btn btn btn-success col-lg-offset-1 col-lg-3 col-xs-12"><b>Sponsor Registration Form</b></a>
                    <div href="#" class="navbar-btn btn-group pull-right col-lg-3 col-xs-12">
                        <a href="https://www.facebook.com/adva1ta" target="_blank" class="btn btn-primary">Facebook</a>
                        <a href="https://twitter.com/Advaita_iiit" target="_blank" class="btn btn-info">Twitter</a>
                        <a href="https://www.youtube.com/c/AdvaitaIiit" target="_blank" class="btn btn-danger">Youtube</a>
                    </div>
                </div>
            </div>
    </body>
</html>
