body{
height: 100%;
width: 100%;
background: url(../img/download.png) !important;
overflow: hidden;
}


.iteam
{
width:23%;
height:23%;
color: none;
background-color: none;
/*            padding-top: 40px;
padding-bottom: 2%;
padding-top: 2%;*/
text-align: center;
position: fixed;
border-radius: 00px;
color: black;
text-decoration: none;
text-transform: uppercase;
opacity: 0.8;
}
.iteam:hover{
background-color:none;
text-decoration:underline;
}
.iteam2
{
width:23%;
height: 23%;
color: #d8d8d8;
background-color: none;
/*            padding-top: 40px;
padding-bottom: 2%;
padding-top: 2%;*/
text-align: center;
position: fixed;
border-radius: 00px;
color: black;
text-decoration: none;
text-transform: uppercase;
opacity: 0.7;
}
.iteam2:hover{
background-color: none;
text-decoration:underline;
}
.iteam3
{
width:23%;
height: 23%;
color: #d8d8d8;
background-color: none;
/*            padding-top: 40px;
padding-bottom: 2%;
padding-top: 2%;*/
text-align: center;
position: fixed;
border-radius: 00px;
color: black;
text-decoration: none;
text-transform: uppercase;
opacity: 0.7;
}
.iteam3:hover{
background-color: none;
text-decoration:underline;
}

a {
display: inline-block;
position: relative;
}
.caption {
display: none;
position: absolute;
top: 50%;
left: 0;
right: 0;
/*    background-color: #333;*/
/*    background-color: rgba(0,0,0,0.6);*/
color: black;
font-weight: bold;
font-size: 170%;
font-family: Signika;
font-weight: bold;
color:white;
text-shadow: 3px 3px black;
/*    line-height: 1.1em;*/
}

a:hover .caption{
display: block;
}

.iteam4{
position: fixed;
font-weight: bold;
font-size: 200%;
font-family: Signika;
font-weight: bold;
color:#49ba7b;
text-shadow: 4px 4px black;
}

img{
z-index: 2;
}


.logo{
position: fixed;
width: 50%;
height: 50%;
top:0;
left: 25%;
z-index: -1;

}
